:root 
{
    --Pokemon-Yellow-Color: #FBD743;
    --Pokemon-Red-Col0degor: #FF1F1F;
    --Pokemon-LightBlue-Color: #5DB9FF;
    --Pokemon-DarkBlue-Color: #363B81;
}

body 
{
    margin: 0;
    padding: 0;
    display: flex;
    
    background-color: var(--Pokemon-DarkBlue-Color);
}

@keyframes transformX {
    from {background-position-x: 0em;}
    to {background-position-x: -20em ;}
}

/* @keyframes transformX{
	from{background-position-y:(0)}
	to{background-position-y: (10)}	
} */

.Xtransform_Background 
{
    width: 100vw;
    height: 100vh; 
    background-image: url('../Pictures/Lightening\ Icon_shadow.png');
    background-size: 12em;
    position: absolute; 
    z-index: -1;
    animation: transformX 30s linear infinite;
}

/* .Ytransform_Background
{
    animation: transformY 30s linear infinite;
} */
/* .rotating_Background 
{
    animation:spin 15s linear infinite;
    position: absolute;
    z-index: -1;
} */

 #GuestInputSection
{
    padding: -5em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--Pokemon-Yellow-Color);
    display: flex;
    width: 50vw;
    height: 100vh;
    
}
#GuestInputSection > article
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    height: 100vh;

}

#GuestInputSection > article > h1
{
    text-align: center;
    padding-top: 2em;
    font-size: 3em;
    font-family: "Jersey 15";
    
}

#GuestInputSection > article > form
{
    position:absolute;
    left: 40%;    
}

form > input {
    width: 20em;
    height: 2em;
    background-color: var(--Pokemon-LightBlue-Color);
    border: 0;
    border-radius: .5em;
}

form > button {
    height: 2em;
    background-color: var(--Pokemon-DarkBlue-Color);
    border: 0;
    border-radius: .5em;
    font-family: "Jersey 15";
    color: white;
}