body 
{
    margin: 0;
    display: flex;
    
}

#yourTeam {
    background-color: yellow;
    
}

#findPokemon {
    background-color: red;
    max-height: 100vw;
}

#findPokemon > article > div
{
    background-color: aqua;
}
